@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "DM Serif Display", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-zinc-900 antialiased;
  }
  button,
  a,
  [role="button"],
  .cursor-pointer {
    cursor: none !important;
  }
}
